---
import { cn } from "@/lib/utils";
import LeadForm from "@/components/LeadForm.astro";
import { Icon } from "astro-icon/components";
import { contacts } from "@config";

interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<div class={cn("p-4 sm:p-6", className)}>
    <div class="grid lg:grid-cols-2 gap-6 lg:gap-16">
        <div class="space-y-6">
            <h1 class="font-bold text-2xl sm:text-3xl">
                {contacts.title}
            </h1>

            <p class="text-foreground/60">
                {contacts.description}
            </p>

            <div class="space-y-6">
                {
                    contacts.contacts.map((option) => (
                        <div class="flex gap-4">
                            <Icon
                                name={option.icon}
                                class="size-6 mt-1.5"
                            />
                            <div class="grow">
                                <h3 class="font-semibold">{option.title}</h3>
                                <a
                                    class="group flex items-center gap-2 text-sm font-medium text-foreground/60 hover:text-primary focus:outline-none focus:text-primary"
                                    href={option.link}>
                                    {option.value}
                                    <Icon
                                        name="tabler:trending-up"
                                        class="group-hover:translate-x-1 transition duration-300 size-4"
                                    />
                                </a>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>

        <LeadForm />
    </div>
</div>
